@{
    ViewBag.Title = "Regions";
    Layout = "~/Views/Shared/_AetnaLayout.cshtml";
}

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="security-page">
    <div style="border-bottom: 1px solid lightgray;padding: 20px;">Region Maintenance</div>
    <div style="padding:50px 20px;">
        <div style="font-size:15px;text-align:center">
            <span id="infocnt_custom" style="color:red;"></span>
        </div>
        <table id="RegionMaintenancegrid"></table>
        <div id="pager2"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var lastSelection;
        var selectedCellId;
        var selectedRowId;
        var selectedCellValue;
        $("#RegionMaintenancegrid").jqGrid({
            url: '/Home/RegionMaintenanceData',
            editurl: '/Home/CreateRegionMaintenance',
            datatype: "json",
            mtype: 'Get',
            height: '300px',
            colNames: ['', 'Region Code*', 'Region Description*', 'Updated by', 'Updated Date'],
            colModel: [
                { name: 'REGION_ID', key: true, index: 'REGION_ID', editable: false, hidden: true, editrules: { edithidden: false }, addrules: { addhidden: false, required: false } },
                { name: 'REGION_CD', index: 'REGION_CD', width: 20, editable: true, editrules: { required: true }, editoptions: { maxlength: 5}, search: true, stype: 'text', searchoptions: { sopt: ['cn'] } },
                { name: 'REGION_DESCR', index: 'REGION_DESCR', width: 20, editable: true, editrules: { required: true }, editoptions: { maxlength: 30 }, search: true, stype: 'text', searchoptions: { sopt: ['cn'] } },
                { name: 'UPDT_BY_ID', index: 'UPDT_BY_ID', width: 20, editable: false, search: true, stype: 'text', searchoptions: { sopt: ['cn'] } },
                { name: 'UPDT_TMSTMP', index: 'UPDT_TMSTMP', width: 20, type: 'date', editable: false, formatter: "date", search: false },
            ],
            prmNames: { id: "REGION_ID" },
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager2',
            recordtext: "{0} - {1} of {2} records",
            pgtext: "{0} of {1}",
            pgprev: "Prev",
            pgnext: "Next",
            viewrecords: true,
            loadonce: false,
            sortorder: "desc",
            multiselect: true,
            //cellEdit: true,
            //cellsubmit: 'remote',
            //cellurl: '/Home/EditCellRegionMaintenance',
            onPaging: function (pgButton) {
                if (selectedRowId != null && selectedCellId != null) {
                    $('#RegionMaintenancegrid').saveCell(selectedRowId, selectedCellId);
                    selectedRowId = null;
                    selectedCellId = null;
                    selectedCellValue = null;
                }
            },
            beforeEditCell: function (rowid, cellname, value, iRow, iCol) {
                $("#infocnt_custom").text('')
                var colData = $("#" + selectedRowId).find('td').eq(selectedCellId).text();
                if (selectedRowId != null && selectedCellId != null && (selectedRowId != rowid || selectedCellId != iCol) && colData != selectedCellValue) {
                    console.log("beforeEditCell " + selectedRowId + " " + selectedCellId);
                    $('#RegionMaintenancegrid').saveCell(selectedRowId, selectedCellId);
                    if (colData == '') {
                        $("#RegionMaintenancegrid").jqGrid('setCell', selectedRowId, selectedCellId, selectedCellValue);
                    }                   
                }
            },
            afterEditCell: function (id, name, val, iRow, iCol) {
                selectedRowId = id;
                selectedCellId = iCol;
                selectedCellValue = val;
            },
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "REGION_ID"
            },
            autowidth: true
        })
            .navGrid('#pager2', { add: false, edit: false, del: true, search: false },
                {},
                {},
                {
                    closeOnEscape: true,
                    closeAfterDelete: true,
                    msg: "Are you sure you want to delete this record?",
                    afterComplete: function (response) {
                        if (response.responseText) {
                            $("#infocnt_custom").text(JSON.parse(response.responseText).replace(/\"/g, ""));
                        }
                    },
                    onclickSubmit: function (options, rowid) {
                        options.url = "/Home/DeleteRegionMaintenance"
                    } 
                },
        );
        $("#RegionMaintenancegrid").jqGrid('inlineNav', '#pager2',
            {
                edit: true,
                edittext: "Edit",
                add: true,
                addtext: "Add",
                del: false,
                cancel: true,
                canceltext: "cancel",
                save: true,
                savetext: "Save",
                refresh: false,
                   
                editParams: {
                    aftersavefunc: function (rowid, response, options) {
                        console.log(JSON.parse(response.responseText));
                        $("#infocnt_custom").text(JSON.parse(response.responseText).replace(/\"/g, ""));
                        var $this = $(this); // grid
                        $(this).trigger("reloadGrid", [{ current: true, fromServer: true }]);
                    }
                    //addRowParams: {
                    //    keys: true,
                    //    url: "/Home/CreateRegionMaintenance",
                    //    aftersavefunc: function (rowid, response, options) {
                    //        console.log("After Save")
                    //        var $this = $(this); // grid
                    //        setTimeout(function () {
                    //            $(this).trigger("reloadGrid", [{ current: true, fromServer: true }]);
                    //        }, 1000);
                    //    }
                    //    //successfunc: function (val) {
                    //    //    console.log(val);
                    //    //    if (val.responseText == 'OK') {
                    //    //        $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    //    //    }

                    //    //}
                    //}
                }
            }
        );

        $('#RegionMaintenancegrid').jqGrid('filterToolbar', { searchOnEnter: false, enableClear: true, stringResult: true, searchOperators: true });

        $.extend($.jgrid, {
            info_dialog: function (caption, content, c_b, modalopt) {
                //$("#infocnt_custom").text(content.replace('*',''))
                $("#infocnt_custom").text('Please enter the values for all mandatory fields (*)')
            }
        });

        $("#del_RegionMaintenancegrid, #refresh_RegionMaintenancegrid, #RegionMaintenancegrid_ilcancel").click(function () {
            $("#infocnt_custom").text('');
        });

        $(".ui-search-toolbar input[type='text']").closest("div").append("<span class='glyphicon glyphicon-search' style='left:3px;'></span>");

        function editRow(id) {
            if (id && id !== lastSelection) {
                var grid = $("#RegionMaintenancegrid");
                grid.jqGrid('restoreRow', lastSelection);
                grid.jqGrid('editRow', id, { keys: true });
                lastSelection = id;
            }
        }
    });

</script>  