
@{
    ViewBag.Title = "Region";
    Layout = "~/Views/Shared/_AetnaLayout.cshtml";
}
@using Newtonsoft.Json;

<style>

    .container {
        color: black !important;

    }

    .k-grid{
        top: 100px;
    }

    .table th, table td {
        text-align: left;
    }
</style>

<div id="example">
    <div id="grid"></div>

    <script>
        var rowData = null;
        $(document).ready(function () {
            $("#lblTitle").text('Subsegment Maintenance');
            $.ajax({
                type: "GET",
                url: "/Home/GetSubsegmentList",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    bindGrid(result);
                }
            });



        });
        function deleteItem(e) {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            if (confirm('Are you sure you want to Remove : ' + dataItem.REGION_DESCR)) {
                $.ajax({
                    type: "GET",
                    url: "/Home/DeleteSubsgment",
                    data: { regionId: dataItem.REGION_ID },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var grid = $("#grid").data("kendoGrid");
                        grid.dataSource.remove(dataItem);
                        grid.dataSource.sync();
                        grid.sync();
                        grid.refresh();
                        alert(result);
                        $("a.k-button.k-button-icontext.k-grid-Save").text("Save");
                    }
                });

            }
        }
        function bindGrid(gridData) {
            var grid = $("#grid").kendoGrid({
                dataSource: {
                    data: gridData,
                    schema: {
                        model: {
                            id: "SUB_SEGMENT_ID",
                            fields: {
                                SUB_SEGMENT_ID: { type: "number", editable: false, nullable: true },
                                SUB_SEGMENT_CD: { validation: { required: true } },
                                SUB_SEGMENT_DESCR: { validation: { required: true } },
                                CREAT_BY_ID: { editable: false, validation: { required: false } },
                                CREAT_TMSTMP: {
                                    editable: false, type: "date", validation: { required: false }
                                }
                            }
                        }
                    }
                },
                //filterable: {
                //    cell: {
                //        enabled: true,
                //        delay: 1500
                //    }
                //},
                pageable: true,
                filterable: {
                    mode: "row"
                },
                change: onSelectCell,
                //persistSelection: true,
                navigatable: true,
                selectable: true,
                sortable: true,
                filterMenuInit: false,
                height: 550,

                toolbar: [{
                    name: 'new',
                    text: "Add Subsegment",
                    //className: "k-grid-addRegion"
                }, {
                    text: "Save",
                    //className: "k-grid-saveRegion"
                }],
                columns: [
                    {
                        field: "SUB_SEGMENT_ID", headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center;font-weight: bold;"
                        }, title: "Subsegment Id", hidden: true
                    },
                    {
                        field: "SUB_SEGMENT_CD", headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center;font-weight: bold;"
                        }, title: "Subsegment Code"
                    },
                    {
                        field: "SUB_SEGMENT_DESCR", headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center;font-weight: bold;"
                        }, title: "Subsegment Description"
                    },
                    {
                        field: "CREAT_BY_ID", headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center;font-weight: bold;"
                        }, title: "Updated By"
                    },
                    {
                        field: "CREAT_TMSTMP", headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center;font-weight: bold;"
                        }, title: "Updated On", filterable: false, format: "{0: yyyy-MM-dd}"
                    },
                    { command: { text: "Remove", click: deleteItem }, title: " ", width: "180px" }
                ],
                editable: "inline"
                // dataBound: onDataBound
            });

            $(".k-grid-new").click(function (e) {
                var grid = $("#grid").data("kendoGrid");
                grid.addRow();
                $("#grid tbody tr").eq(0).addClass("selectedRow");
                $("a.k-button.k-button-icontext.k-grid-Save").text("Save");
                return false;

            });
            $("#grid tbody").on("dblclick", "td", function (e) {
                var cellElement = this;
                var cell = $(cellElement);
                var grid = $("#grid").getKendoGrid();
                grid.editCell(cell);
                $("a.k-button.k-button-icontext.k-grid-Save").text("Update");
            });
            $(".k-grid-Save").bind('click', function (e) {
                var grid = $("#grid").data("kendoGrid");
                var dataItem = grid.dataItem($("#grid tbody tr.selectedRow"));
                grid.saveRow();
                if (dataItem.SUB_SEGMENT_CD != "" && dataItem.SUB_SEGMENT_DESCR != "") {
                    $.ajax({
                        type: "GET",
                        url: "/Home/UpdateSubsegment",
                        data: { subsegmentId: dataItem.SUB_SEGMENT_ID, subsegmentCode: dataItem.SUB_SEGMENT_CD, subsegmentDescription: dataItem.SUB_SEGMENT_DESCR },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            alert(result);
                        }
                    });
                }
            });

            function onSelectCell(e) {
                var grid = e.sender;
                var cellIndex = grid.select().index();
                var selectedtd = grid.select();
                var selectedtr = grid.select().closest("tr");

                $(selectedtr).eq(0).siblings().removeClass("selectedRow");
                $(selectedtr).eq(0).siblings().removeClass("selected");
                //$(selectedtr).eq(0).siblings().removeClass("k-grid-edit-row");
                //$("a.k-button.k-button-icontext.k-grid-Save").text("Save")
                $(selectedtr).eq(0).removeClass("k-state-selected");
                //$(selectedtr).children().removeClass("k-state-selected");  
                $(selectedtr).eq(0).addClass("selectedRow");
                $(selectedtr).eq(0).addClass("selected");
                rowData = grid.dataItem(selectedtr);
            }
        }

    </script>
</div>

