@{
    ViewBag.Title = "Subsegments";
    Layout = "~/Views/Shared/_AetnaLayout.cshtml";
}

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="security-page">
    <div style="border-bottom: 1px solid lightgray;padding: 20px;">Subsegment Maintenance</div>
    <div style="padding:50px 20px;">
        <table id="SubsegmentMaintenancegrid"></table>
        <div id="pager2"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#SubsegmentMaintenancegrid").jqGrid({
            url: '/Home/SubsegmentMaintenanceData',
            editurl: '/Home/CreateSubsegmentMaintenance',
            datatype: "json",
            mtype: 'Get',
            height: '200px',
            colNames: ['', 'Subsegment Code', 'Subsegment Description', 'Updated by', 'Updated Date'],
            colModel: [
                { name: 'SUB_SEGMENT_ID', key: true, index: 'SUB_SEGMENT_ID', editable: false, hidden: true, editrules: { edithidden: false }, addrules: { addhidden: false, required: false } },
                { name: 'SUB_SEGMENT_CD', index: 'REGION_CD', width: 20, editable: true, editrules: { required: true } },
                { name: 'SUB_SEGMENT_DESCR', index: 'REGION_DESCR', width: 20, editable: true, editrules: { required: true } },
                { name: 'UPDT_BY_ID', index: 'UPDT_BY_ID', width: 20, editable: false },
                { name: 'UPDT_TMSTMP', index: 'UPDT_TMSTMP', width: 20, type: 'date', editable: false, formatter: "date" },
            ],
            prmNames: { id: "SUB_SEGMENT_ID" },
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager2',
            ajaxSelectOptions: { cache: false },
            recordtext: "{0} - {1} of {2} records",
            pgtext: "{0} of {1}",
            pgprev: "Prev",
            pgnext: "Next",
            viewrecords: true,
            sortorder: "desc",
            cellEdit: true,
            cellsubmit: 'remote',
            cellurl: '/Home/EditCellSubsegmentMaintenance',
            beforeEditCell: function (rowid, cellname, value, iRow, iCol) {
                if (selectedRowId != null && selectedCellId != null) {
                    $('#SubsegmentMaintenancegrid').saveCell(selectedRowId, selectedCellId);
                }
            },
            afterEditCell: function (id, name, val, iRow, iCol) {
                selectedRowId = iRow;
                selectedCellId = iCol;
            },
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "SUB_SEGMENT_ID"
            },
            autowidth: true
        })
        .navGrid('#pager2', { add: false, edit: false, del: false, search: false });
        $("#SubsegmentMaintenancegrid").jqGrid('inlineNav', '#pager2',
            {
                edit: false,
                edittext: "Edit",
                add: true,
                addtext: "Add",
                del: false,
                cancel: true,
                canceltext: "cancel",
                save: true,
                savetext: "Save",
                refresh: false,
                addParams: {
                    addRowParams: {
                        keys: true,
                        url: "/Home/CreateSubsegmentMaintenance",
                        aftersavefunc: function () {
                            var $this = $(this); // grid
                            setTimeout(function () {
                                $(this).trigger("reloadGrid", [{ current: true, fromServer: true }]);
                            }, 50);
                        }
                    }
                }
            }
        );
        var lastSelection;

        function editRow(id) {
            if (id && id !== lastSelection) {
                var grid = $("#SubsegmentMaintenancegrid");
                grid.jqGrid('restoreRow', lastSelection);
                grid.jqGrid('editRow', id, { keys: true });
                lastSelection = id;
            }
        }
    });

</script>  