@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_AetnaLayout.cshtml";
}

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="security-page">
    <div style="border-bottom: 1px solid lightgray;padding: 20px;">Team Maintenance</div>
    <div style="padding:50px 20px;">
        <table id="TeamMaintenancegrid"></table>
        <div id="pager2"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var lastSelection;
        $("#TeamMaintenancegrid").jqGrid({
            url: '/Home/TeamMaintenanceData',
            editurl: '/Home/CreateTeamMaintenance',
            datatype: "json",
            mtype: 'Get',
            height: '400px',
            colNames: ['', 'Team Code', 'Team Name', 'Ctrl Cnt', 'Reports', 'Region', 'Subsegment'],
            colModel: [
                { name: 'TeamMaintenanceID', key: true, index: 'TeamMaintenanceID', editable: false, hidden: true, editrules: { edithidden: false }, addrules: { addhidden: false, required: false } },
                { name: 'TeamCode', index: 'TeamCode', width: 20, editable: true, editrules: { required: true } },
                { name: 'TeamName', index: 'TeamName', width: 20, editable: true, editrules: { required: true } },
                { name: 'CtrlCnt', index: 'CtrlCnt', width: 20, editable: true, editrules: { required: true } },
                {
                    name: 'Reports', index: 'Reports', width: 50, editable: true, edittype: "select",
                    editoptions: {
                        dataUrl: '/Home/GetAllReports',
                        buildSelect: function (data) {
                            var sel = '<select>';
                            sel += '<option value="">Select</option>'
                            $.each(JSON.parse(data), function (i, accountCoding) {
                                sel += '<option value="' + accountCoding.REPORT_CD + '">' + accountCoding.REPORT_DESC + '</option>';
                            });
                            return sel + "</select>";
                        },
                        //value: "Select:Select;Medical PNC with Rx Rebates:Medical PNC with Rx Rebates;Medical PNC without Rx Rebates:Medical PNC without Rx Rebates;NA:NA",
                        multiple: true,
                        style: "width: 100%;",
                        dataInit: function (elem) {
                            console.log(elem)
                            setTimeout(function () {
                                $(elem).multiselect({
                                    minWidth: 100, //'auto',
                                    selectedList: 2,
                                    buttonWidth: "80%",
                                    open: function () {
                                        var $menu = $(".ui-multiselect-menu:visible");
                                        $menu.width("auto");
                                        return;
                                    }
                                });
                            }, 50);
                        },
                        stype: 'select',
                    }
                },
                {
                    name: 'Region', index: 'Region', width: 30, editable: true, edittype: "select",
                    //editoptions: {
                    //    value: "Select:Select;Mid America:Mid America;Northeast:Northeast;Other Region:Other Region;Southeast:Southeast;West:West",
                    //    style: "width: 100px;",
                    //}
                    editoptions: {
                        dataUrl: '/Home/GetAllRegions',
                        buildSelect: function (data) {
                            var sel = '<select>';
                            sel += '<option value="">Select</option>'
                            $.each(JSON.parse(data), function (i, accountCoding) {
                                sel += '<option value="' + accountCoding.REGION_ID + '">' + accountCoding.REGION_DESCR + '</option>';
                            });
                            return sel + "</select>";
                        },
                        //value: "Select:Select;Medical PNC with Rx Rebates:Medical PNC with Rx Rebates;Medical PNC without Rx Rebates:Medical PNC without Rx Rebates;NA:NA",
                        style: "width: 100%;",
                        multiple: true,
                        dataInit: function (elem) {
                            console.log(elem.id)
                            setTimeout(function () {
                                $(elem).multiselect({
                                    minWidth: 100, //'auto',
                                    selectedList: 2,
                                    buttonWidth: "80%",
                                    open: function () {
                                        var $menu = $(".ui-multiselect-menu:visible");
                                        $menu.width("auto");
                                        return;
                                    }
                                });
                            }, 50);
                            return;
                        },
                        stype: 'select',
                    }
                },
                {
                    name: 'Subsegment', index: 'Subsegment', width: 100, editable: true, edittype: "select",
                    //editoptions: {
                    //    value: "Select:Select;AAM:AAM;Intl Expat:Intl Expat",
                    //    style: "width: 100px;"
                    //}
                    editoptions: {
                        dataUrl: '/Home/GetAllSubsegments',
                        buildSelect: function (data) {
                            var sel = '<select>';
                            sel += '<option value="">Select</option>'
                            $.each(JSON.parse(data), function (i, accountCoding) {
                                sel += '<option value="' + accountCoding.SUB_SEGMENT_ID + '">' + accountCoding.SUB_SEGMENT_DESCR + '</option>';
                            });
                            return sel + "</select>";
                        },
                        //value: "Select:Select;Medical PNC with Rx Rebates:Medical PNC with Rx Rebates;Medical PNC without Rx Rebates:Medical PNC without Rx Rebates;NA:NA",
                        style: "width: 100%;",
                        multiple: true,
                        dataInit: function (elem) {
                            console.log(elem.id)
                            setTimeout(function () {
                                $(elem).multiselect({
                                    minWidth: 100, //'auto',
                                    selectedList: 2,
                                    buttonWidth: "80%",
                                    open: function () {
                                        var $menu = $(".ui-multiselect-menu:visible");
                                        $menu.width("auto");
                                        return;
                                    }
                                });
                            }, 50);
                        },
                        stype: 'select',
                    }
                }
            ],
            prmNames: { id: "TeamMaintenanceID" },
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager2',
            ajaxSelectOptions: { cache: false },
            recordtext: "{0} - {1} of {2} records",
            pgtext: "{0} of {1}",
            pgprev: "Prev",
            pgnext: "Next",
            //recordpos: "left",
            //pagerpos: "right",
            viewrecords: true,
            //onSelectRow: editRow,
            sortorder: "desc",
            cellEdit: true,
            cellsubmit: 'remote',
            cellurl: '/Home/EditCellTeamMaintenance',
            beforeSelectRow: function (rowid) {
                if (rowid !== lastSelection) {
                    lastSelection = rowid;
                    $("#TeamMaintenancegrid").jqGrid('saveRow', lastSelection);
                }
                return true;
            },
            //afterEditCell: function (rowid, celname, value, iRow, iCol) {
            //    if (cellname == "Reports") { return value.toString() }
            //},
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "TeamMaintenanceID"
            },
            autowidth: true
        })
            .navGrid('#pager2', { add: false, edit: false, del: false, search: false });
        //$("#TeamMaintenancegrid").jqGrid('navGrid', '#pager2',
        //    { edit: false, add: true, del: false, refresh: false, search: false },
        //    {

        //    },
        //    {
        //        // add option
        //        zIndex: 100,
        //        url: "/Home/CreateTeamMaintenance",
        //        closeOnEscape: true,
        //        closeAfterAdd: true,
        //        afterComplete: function (response) {
        //            if (response.responseJSON) {
        //                if (response.responseJSON == "Saved Successfully") {
        //                    alert("Saved Successfully");
        //                }
        //                else {
        //                    var message = "";
        //                    for (var i = 0; i < response.responseJSON.length; i++) {
        //                        message += response.responseJSON[i];
        //                        message += "\n";
        //                    }
        //                }

        //            }
        //        }
        //    }
        //);
        $("#TeamMaintenancegrid").jqGrid('inlineNav', '#pager2',
            {
                edit: false,
                edittext: "Edit",
                add: true,
                addtext: "Add",
                del: false,
                cancel: true,
                canceltext: "cancel",
                save: true,
                savetext: "Save",
                refresh: false,
                //editParams: {
                //    keys: true,
                //    url: "/Home/CreateTeamMaintenance",
                //},
                addParams: {
                    addRowParams: {
                        keys: true,
                        url: "/Home/CreateTeamMaintenance",
                        aftersavefunc: function () {
                            var $this = $(this); // grid
                            setTimeout(function () {
                                $(this).trigger("reloadGrid", [{ current: true, fromServer: true }]);
                            }, 50);
                        }
                    }
                },
                //onSelectRow: editRow,
                //beforeSaveRow: function (o, rowid) {
                //    // this is where you should save the data
                //    // Do validation and save the data here
                //    // Note, the 'beforeSaveRow' is undocumented, but it gets invoked before jqGrid calls its own SaveRow method.
                //    // Get data by rowid and save it to DB and then

                //    grid.saveRow(rowid, false);
                //    return false;// To avoid jqgrid from invoking its own save again
                //},
                //aftersavefunc: function (rowid) {
                //    // this fired is after saving
                //    var rowData = $this.jqGrid("getRowData", rowid);
                //}
            }
        );
        

        function editRow(id) {
            if (id && id !== lastSelection) {
                var grid = $("#TeamMaintenancegrid");
                grid.jqGrid('restoreRow', lastSelection);
                grid.jqGrid('editRow', id, { keys: true });
                lastSelection = id;
            }
        }

        //var $nav = $("#pager2").find(".navtable");
        //$nav.insertAfter(".ui-jqgrid-hdiv");
        //$(".ui-icon-plus").after("<span>Add new row</span>");
    });

</script>  