@{
    ViewBag.Title = "User Team Mapping";
    Layout = "~/Views/Shared/_AetnaLayout.cshtml";
}

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="security-page">
    <div style="border-bottom: 1px solid lightgray;padding: 20px;">User Team Mapping</div>
    <div style="padding:50px 20px;">
        <table id="UserTeamMappinggrid"></table>
        <div id="pager2"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#UserTeamMappinggrid").jqGrid({
            url: '/Home/UserTeamMappingData',
            editurl: '/Home/CreateUserTeamMapping',
            datatype: "json",
            mtype: 'Get',
            height: '300px',
            colNames: ['UserID', 'Last Name', 'First Name', 'Employee Status', 'Team Name'],
            colModel: [
                { name: 'USER_ID', key: true, index: 'USER_ID', width: 20, editable: true, search: true, addrules: { addhidden: false, required: true } },
                { name: 'LAST_NAM', index: 'LAST_NAM', width: 20, editable: true, editrules: { required: true } },
                { name: 'FIRST_NAM', index: 'FIRST_NAM', width: 20, editable: true, editrules: { required: true } },
                { name: 'EMP_STS_CD', index: 'EMP_STS_CD', width: 20, editable: true },
                {
                    name: 'TEAMS', index: 'TEAMS', width: 50, editable: true, edittype: "select",
                    editoptions: {
                        dataUrl: '/Home/GetAllTeams',
                        buildSelect: function (data) {
                            var sel = '<select>';
                            sel += '<option value="">Select</option>'
                            $.each(JSON.parse(data), function (i, accountCoding) {
                                sel += '<option value="' + accountCoding.TEAM_ID + '">' + accountCoding.TEAM_DESCR + '</option>';
                            });
                            return sel + "</select>";
                        },
                        //value: "Select:Select;Medical PNC with Rx Rebates:Medical PNC with Rx Rebates;Medical PNC without Rx Rebates:Medical PNC without Rx Rebates;NA:NA",
                        multiple: true,
                        style: "width: 100%;",
                        dataInit: function (elem) {
                            console.log(elem)
                            setTimeout(function () {
                                $(elem).multiselect({
                                    minWidth: 100, //'auto',
                                    selectedList: 2,
                                    buttonWidth: "80%",
                                    open: function () {
                                        var $menu = $(".ui-multiselect-menu:visible");
                                        $menu.width("auto");
                                        return;
                                    }
                                });
                            }, 50);
                        },
                        stype: 'select',
                    }
                }
            ],
            prmNames: { id: "USER_ID" },
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager2',
            ajaxSelectOptions: { cache: false },
            recordtext: "{0} - {1} of {2} records",
            pgtext: "{0} of {1}",
            pgprev: "Prev",
            pgnext: "Next",
            viewrecords: true,
            sortorder: "desc",
            cellEdit: true,
            cellsubmit: 'remote',
            cellurl: '/Home/EditCellUserTeamMapping',
            beforeEditCell: function (rowid, cellname, value, iRow, iCol) {
                if (selectedRowId != null && selectedCellId != null) {
                    $('#UserTeamMappinggrid').saveCell(selectedRowId, selectedCellId);
                }
            },
            afterEditCell: function (id, name, val, iRow, iCol) {
                selectedRowId = iRow;
                selectedCellId = iCol;
            },
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "USER_ID"
            },
            autowidth: true
        })
        .navGrid('#pager2', { add: false, edit: false, del: false, search: false });
        $("#UserTeamMappinggrid").jqGrid('inlineNav', '#pager2',
            {
                edit: false,
                edittext: "Edit",
                add: true,
                addtext: "Add",
                del: false,
                cancel: true,
                canceltext: "cancel",
                save: true,
                savetext: "Save",
                refresh: false,
                addParams: {
                    addRowParams: {
                        keys: true,
                        url: "/Home/CreateUserTeamMapping",
                        aftersavefunc: function () {
                            var $this = $(this); // grid
                            setTimeout(function () {
                                $(this).trigger("reloadGrid", [{ current: true, fromServer: true }]);
                            }, 50);
                        }
                    }
                }
            }
        );
        var lastSelection;

        function editRow(id) {
            if (id && id !== lastSelection) {
                var grid = $("#UserTeamMappinggrid");
                grid.jqGrid('restoreRow', lastSelection);
                grid.jqGrid('editRow', id, { keys: true });
                lastSelection = id;
            }
        }
    });

</script>  